@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow: hidden;
  height: 100%;
  /* color: #6a707c; */
  /* font-family: Inter, sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 21px;
  box-sizing: border-box;
  background-color: rgb(186, 73, 73);
}

#root {
  overflow: hidden;
  height: 100vh;
  /* font-family: Inter, sans-serif; */
}
